<div class="entry">
    <h2>{{name}}</h2>
    <div class="body">
        {{#if image}}
        <figure><img src="{{image}}" alt="{{name}}"></figure>
        {{/if}}
        <p>{{description}}</p>
    </div>
</div>